.toolbar_label {
    flex: 1 !important;
}

.toolbar-save-icon {
    flex: 1 !important;
}

.toolbar-inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
